#root {
  text-align: center;
  background-color: rgb(160, 179, 248);
}

header {
  border-radius: 10px;
  width: calc(100% - 200px);
  background: #FFFFFF;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding: 0 20px;
  box-shadow: 0 1px 32px rgba(241, 159, 71, 0.15);
  overflow: hidden;
}

.header-box {
  padding-top: 30px;
}

.title {
  font-size: 1.5rem;
}

.map {
  display: flex;
  justify-content: center;
  width: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 991px) {
  header {
      width: calc(100% - 20px);
  }

  .box {
    justify-content: center !important;
  }

  .filters {
    flex-direction: column;
  }

  nav {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {

  header {
    width: 100%;
    border-radius: 0;
  }

  .header-box {
    padding-top: 0;
  }
}
