#root {
  text-align: center;
  background-color: rgb(231, 231, 234);
  font-family: "Ruda", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding: 0 20px;
  box-shadow: 0 1px 32px rgba(241, 159, 71, 0.15);
  overflow: hidden;
}

.main-title {
  font-size: 3rem;
}

.title {
  font-size: 1.5rem;
}

.intro {
  padding-top: 100px;
  position: relative;
  height: 700px;
  padding: 3rem 0;
  background-image: url("./assets/map-locator.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.intro p {
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  line-height: 30px;
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 300;
}

.intro ul {
  font-family: 'Open Sans', sans-serif;
  list-style: disc;
  padding: 0 0 0 22px;
}

.intro span {
  font-weight: 800;
  color: rgb(158, 155, 155);
}

.overlay {
  position: absolute;
  height: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.918);
}

.search-box {
  padding: 5rem 0;
}

.map {
  display: flex;
  justify-content: center;
  width: auto;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.chart {
  display: flex;
  justify-content: flex-end;
}

footer {
  background-color: rgb(2, 17, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5rem 0 6rem 0;
  margin: 2rem 0 0 0;
  font-size: 17px;
}

.team {
  display: flex;
  flex-direction: column;
}

.team-members {
  display: flex;
  flex-direction: row;
}

.team-subtitle {
  margin-bottom: 10px;
}

.name:hover {
  text-decoration: underline;
}

.member {
  padding-right: 30px;
}

.fa-github:before {
  font-size: 1.5rem;
}

.zipcode, .category {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .intro p {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .intro p {
    padding: 0 4rem;
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .box {
    justify-content: center !important;
  }

  .filters {
    flex-direction: column;
  }

  nav {
    display: none !important;
  }

  .intro p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro p {
    padding: 0 2rem;
  }

  .main-title {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 550px) {
  .team-members {
    flex-direction: column;
  }

  .member {
    padding-right: 0;
    margin-bottom: 12px;
  }

  .intro {
    height: 700px;
  }

  .overlay {
    padding-top: 100px;
  }
}
