#root {
  text-align: center;
  background-color: rgb(196, 213, 248);
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  display: flex;
  justify-content: center;
  width: auto;
}