@tailwind base;
@tailwind components;
@tailwind utilities;

.select {
  color: #dddddd;
  padding: 5px;
  padding: 8px;
  width: 100%;
}

.select .option {
  color: #dddddd;
  padding: 4px;
}

.select .option:hover {
  background-color: #393838;
  color: #dddddd;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }